/*Benachrichigungen*/

.notification {
    width: 90%;
    min-height: 45px;
    margin-left: 5%;
    border: 3px solid @default;
    border-left: 40px solid @default;
    border-right: 25px solid @default;
    line-height: 2.2;
    & a, p, span, strong {
        margin-top: 0;
    }
}

.notification-icon {
    width: 40px;
    margin-left: -40px;
    float: left;
    line-height: 1.7;
    font-family: ploiticons;
    font-size: 20pt;
    color: #FFF;
    text-align: center;
    padding-right: 5px;
}

.notification-close {
    width: 25px;
    margin-right: -24px; 
    float: right;
    line-height: 1.2;
    font-family: ploiticons;
    font-size: 20pt;
    color: #FFF;
    text-align: center;
}

.notification-text {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*COLORS*/

.notification-info {
    border: 3px solid @info;
    border-left: 40px solid @info;
    border-right: 25px solid @info;
    color: @info;
    
}

.notification-success {
    border: 3px solid @success;
    color: @success;
    border-left: 40px solid @success;
    border-right: 25px solid @success;
}


.notification-warning {
    border: 3px solid @warning;
    color: @warning;
    border-left: 40px solid @warning;
    border-right: 25px solid @warning;
}

.notification-danger {
    border: 3px solid @danger;
    color: @danger;
    border-left: 40px solid @danger;
    border-right: 25px solid @danger;
}

