/*navigation*/


.nav {
    width: 100vw;
}

.nav-list {
    list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
    
    border-bottom: 3px solid #000;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    float: left;
}


.nav-item {
    display:inline-block;
	margin-right: 1px;
    
    float: left;
    margin-top: 15px;
    margin-right: 70px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    &:last-child{
        float: none;
    }
    & a {
        color: #000;
    }
}



.nav-brand {
    margin-right: 100px;
}

.nav-fixed {
    position: fixed;
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .nav{
    display: block;
}

@media screen and (max-width: 760px){
	.nav-list {
		position: static;
	}
	/*Create vertical spacing*/
	.nav-item {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.nav-item {
		width: 100%;
	}
    
    .show-menu {
		display:block;
	}
}
    


/*COLORS*/
/*------------
INFO
------------*/

.nav-list-info {
    border-bottom: 3px solid @info;
}

.nav-item-info {
    color: @info;
    & a {
        color: @info;
    }
}

/*------------
SUCCESS
------------*/
.nav-list-success {
    border-bottom: 3px solid @success;
}

.nav-item-success {
    color: @success;
    & a {
        color: @success;
    }
}

/*------------
WARNING
------------*/
.nav-list-warning {
    border-bottom: 3px solid @warning;
}

.nav-item-warning {
    color: @warning;
    & a {
        color: @warning;
    }
}

/*------------
DANGER
------------*/
.nav-list-danger {
    border-bottom: 3px solid @danger;
}

.nav-item-danger {
    color: @danger;
    & a {
        color: @danger;
    }
} 