//out: typografie.css

/*
Ploiter CSS Framework
ploiter.ch
Karl Hofmann
ZLI Basislehrjahr
*/

@import "variables.less";

/*Headings*/

h1, h2, h3, h4, h5, h6, p, span, nav, button{
    font-family: @font;
}


h1, .heading-1 {
   font-size: 3.011em;  
}

h2, .heading-2 {
    font-size: 2.509em;
}

h3, .heading-3 {
  font-size: 2.007em;  
}

h4, .heading-4 {
    font-size: 1.505em;
}

h5, .heading-5 {
    font-size: 1.171em;
}

h6, .heading-6 {
    font-size: 1.003em; 
}

.heading-light {
    font-weight: 400;
}

.lead {
    font-size: 1.338em;
}

p {
    font-size: 1.171em;
}

button {
    font-size: 1.171em;
}

nav {
    font-size: 1.171em;
}